fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
psycopg2-binary
pgvector
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pdfplumber
python-docx
pandas
openpyxl
groq
langchain
langchain-groq
langgraph
celery
redis
sentence-transformers
python-dotenv
httpx
email-validator
bcrypt